@import "../variables";

body {
  background-color: $color-background-dark;
}

.layout-container {
  display: flex;
  transition: all 0.3s ease;
  min-height: 100vh;
}

.layout {
  display: flex;
  margin-left: 240px;
  padding: $spacing-lg;
  color: $color-white;
  transition: margin-left 0.3s ease;
  flex: 1;
}
