@import "../styles/variables";
@import "./pages/login";
@import "./pages/dashboard";
@import "./pages/news";
@import "./pages/menu";
@import "./pages/layout";

@import "./pages/spinner";
@import "./pages/bitacora";
@import "./components/bitacoraForm";
@import "./components/bitacoraTable";
@import "./components/loadingIA";
@import "./components/button";
@import "./components/notifications";

.app {
  background-color: #0a0f1c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 64px;

  .container {
    width: 100%;
    max-width: 1280px;
    border-left: 1px solid $color-gray-dark;
    border-right: 1px solid $color-gray-dark;
    min-height: 100vh;
    background-color: inherit;
  }

  .title {
    color: #00ffcc;
    font-family: Arial, sans-serif;
    font-size: 2rem;
  }
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
}
