@import "./variables";
@import "./pages/login";
@import "./pages/dashboard";

//@import "./base/reset";
//@import "./layout/dashboard";

.app {
  background-color: #0a0f1c;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    color: #00ffcc;
    font-family: Arial, sans-serif;
    font-size: 2rem;
  }
}
